# Node modules
**/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment files
**/.env

# Build folders
frontend/build/
backend/dist/

# Misc
.DS_Store
backend/Aimlmodel/